*.py[co]
db.sqlite3
*.sw[klmnop]
*.log
*.rdb
*.info
*.err
/.project
/.pydevproject
/.settings
/manage.dev.py
/yunqu/settings/dev.py
/yunqu/dev_urls.py
gen_key.py
nohup.out
yunqu/tz*
node_modules/*
.idea/*